{% extends "layout.twig" %}
{% block body %}
    <h1>Kalenderwoche {{Daten[0]}}</h1>
    <div class="Montag" style="float: left;border: 1px solid darkorange; border-radius: 8px;">
        <table width="600">
            <tr>
                <td style="transform: rotate(-90deg)">Montag</td>
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[6]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
                    
    <div class="Donnerstag" style="float: right;border: 1px solid darkorange; border-radius: 8px;">
        <table width="600">
            <tr>
               <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[9]|raw}}
                    </table>
                </td>
                <td style="transform: rotate(90deg)">Donnerstag</td>
            </tr>
        </table>
    </div>
                    </br>                
    <div class="Dienstag" style="float: left;border: 1px solid darkorange; border-radius: 8px;">
        <table width="600">
            <tr>
                <td style="transform: rotate(-90deg)">Dienstag</td>
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[7]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="Freitag" style="float: right;border: 1px solid darkorange; border-radius: 8px;">
        <table width="600">
            <tr>   
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[10]|raw}}
                    </table>
                </td>
                <td style="transform: rotate(90deg)">Freitag</td>
            </tr>
        </table>
    </div>
    </br>
    <div class="Mittwoch" style="float: left;border: 1px solid darkorange; border-radius: 8px;">
        <table width="600">
            <tr>
                <td style="transform: rotate(-90deg)">Mittwoch</td>
                <td width="90%">
                <table class="greyGridTable" width="100%">
                    {{Daten[8]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
{%endblock%}