{% extends "layout.twig" %}
{% block body %}
    <center><h1>Kalenderwoche {{Daten[0]}}, {{Daten[1]}} - {{Daten[5]}} </h1></center>
    <div class="row">
    <div class="col-lg-6" style="border: 1px solid darkorange; border-radius: 8px;">
        <table  >
            <tr>
                <td style="transform: rotate(-90deg)" width="20">Montag</td>
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[6]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
                    
    <div class="col-lg-6" style="border: 1px solid darkorange; border-radius: 8px;">
        <table >
            <tr>
               <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[9]|raw}}
                    </table>
                </td>
                <td style="transform: rotate(90deg)" width="20">Donnerstag</td>
            </tr>
        </table>
    </div>
    </div>
    <div width="row">
    <div class="col-lg-6"  style="border: 1px solid darkorange; border-radius: 8px;">
        <table >
            <tr>
                <td style="transform: rotate(-90deg)" width="20">Dienstag</td>
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[7]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="col-lg-6"  style="border: 1px solid darkorange; border-radius: 8px;">
        <table  >
            <tr>   
                <td width="90%">
                    <table class="greyGridTable" width="100%">
                        {{Daten[10]|raw}}
                    </table>
                </td>
                <td style="transform: rotate(90deg)" width="10%">Freitag</td>
            </tr>
        </table>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6" style="border: 1px solid darkorange; border-radius: 8px;" >
        <table >
            <tr>
                <td style="transform: rotate(-90deg)" width="10%">Mittwoch</td>
                <td width="90%">
                <table class="greyGridTable" width="100%">
                    {{Daten[8]|raw}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </div>                
{%endblock%}